.home-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 90vh;
  padding: 80px;
}
.dark-theme {
  background-color: black;
}

.home-name-light-theme {
  color: black;
  font-size: 50px;
}
.home-name-dark-theme {
  color: white;
  font-size: 50px;
}
